/*FOOTER*/
footer {
    z-index: 9999;
    width:100%; 
    margin: auto;
    bottom:0px;
    left:0px;
} 

#ifms {
    background-color:silver;
    width:  100%;
    height: 30px;
    margin-top: 8.27%;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    border-top: 3px solid;
    border-color: #999;
} 
#ifms a {
    display: inline-block;
    color: white;
    margin: 5px 10% ;
    text-decoration: none;
}

