/*Formulario*/

#login{
    padding: 50px 0px 40px;
    border : 2px solid #ccc;
    border-radius: 5px;
}

#login:hover {
    -webkit-transition: border-color 0.5s ease-out, color 1s ease-out;
    -moz-transition: border-color 0.5s ease-out, color 1s ease-out;
    -o-transition: border-color 0.5s ease-out, color 1s ease-out;
    transition: border-color 0.5s ease-out, color 1s ease-out;
   border-color: #025310;
   color:#025310;
}

.form_field{
   padding: 12px 20px;
   margin : 8px 0;
   display: inline-block;
   border : 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
}

input[type=submit] {
    width           : 70%;
    font-size       : 16px;
    background-color: #ccc;
    color           : white;
    padding         : 14px 20px;
    margin          : 8px 0;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;


}
input[type=submit]:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition   : background-color 0.5s ease-out;
    -o-transition     : background-color 0.5s ease-out;
    transition        : background-color 0.5s ease-out;
    background-color: #025310;
    font-size       : 18px;
    padding         : 12px 20px;
} 

input[type=text], input[type=password]{
    width: 70%;
}
input[type=text]:hover, input[type=password]:hover{
   border: 1px solid #666;

}
input[type=text]:focus, input[type=password]:focus{
   border : 2px solid #999;
   padding: 11px 19px;
}

.alert{
    position: fixed;
    top     : 0px;
    margin  : 0; 
    width   : 100%;
    height  : 65px;
    z-index : 9000;
    display : block; 
    background-color: #025310;
    border-radius   : 0px 0px 3px 3px !important;
    border-bottom   : 3px solid #999;
}

.alert p{
    margin  : 0;
    position: relative;
    top     : 35%;
}


