/*GLOBAL*/
body{
   padding: auto;
   margin : auto;
   width  : 100%;
   height : 100%;
   background-color: #eee;
   display: block;
}

hr{
   width: 95%;
   height:1px;
   background-color: #ccc;
   border: none;
}

.back_line{
   margin-top: -20px;
   height:2px;
   border: none;
}
.box_section{
   height          : 100%;
   background-color: #eee;
}
.div_max_width{
   width : 100%;
   height:auto;
}
.s_div{
   height:50px;
}
.absolute{
   position: absolute;
}
.relative{
   position: relative;
}

.fixed{
   position: fixed;
}

.hidden{
   visibility: hidden;
}

.t{  }


#middle_section{
   margin: auto;
   padding: auto;
   width  :80%;
}

   /*Fonte padrao*/
.font{
   font-family    : "Myriad pro", Sans-serif, "Liberation Sans";
   font-weight    : bold;
   text-decoration: none;
   color          : #999;
}

   /*Na metade da posicao*/
.half_w{
   width  :46%;
   display: inline-block;
   margin : 1em;
}
.half_h{
   margin-top   : 10%;
   margin-bottom: auto;
   height       : 100%;
}

.center{
   padding    : 0;
   margin     : auto;
   width      : auto;
   text-align : center;
}

.f_right{
    float: right;
}
.f_left{
    float: left;
}

.shadows{
    -moz-box-shadow   : 1px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    box-shadow        : 1px 2px 2px rgba(0, 0, 0, .3);
}


/*CONTROLADOR-----------------------------------------------------------------*/
.bar_top_dist{
   padding-top:20px;
}

.container{
   height : auto;
   width  : 100%;
   padding: 10px 0px;
   display: flex;
   flex-direction        : row;
   -ms-flex-direction    : row;
   -webkit-flex-direction: row;
   align-items        : center;
   -ms-flex-align     : center;
   -webkit-align-items: center;
   -ms-flex-pack      :justify;
   justify-content        : space-between;
   -webkit-justify-content: space-between;
   flex-wrap        : wrap;
   -webkit-flex-wrap: wrap;
}

.v_container{
   height : auto;
   width  : 100%;
   padding: 10px 0px;
   display: flex;
   flex-direction        : row;
   -ms-flex-direction    : row;
   -webkit-flex-direction: row;
   align-items        : center;
   -ms-flex-align     : center;
   -webkit-align-items: center;
   -ms-flex-pack      :justify;
   justify-content        : space-between;
   -webkit-justify-content: space-between;
   flex-wrap        : wrap;
   -webkit-flex-wrap: wrap; 
}

/*Select para todos os computadores-------------------------------------------*/
.lab_area{
   width: 100%;
   height: auto;
}

.selectbox{
   height: 60px; 
   width : 80%;
   padding-left: 12px;
   border: 2px solid #ccc;
   border-radius: 3px;
   appearance        :none;
   -moz-appearance   :none; /* Firefox */
   -webkit-appearance:none; /* Safari and Chrome */
   background: url(../img/select_arrow.png) 98% / 4% no-repeat #ddd;
}

.lab_area input[type=button] {
    width           : 15%;
    font-size       : 16px;
    background-color: #ccc;
    color           : white;
    padding         : 19px 20px;
    margin          : 8px 0;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
}

.lab_area input[type=button]:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition   : background-color 0.5s ease-out;
    -o-transition     : background-color 0.5s ease-out;
    transition        : background-color 0.5s ease-out;
    background-color: #025310;
    padding         : 19px 20px;
} 


/*Computadores individuais----------------------------------------------------*/
.computer_area{
   margin: 40px 10px 30px 10px;
   height: auto;
   width : 18%;
   min-width:180px;
   background-color: #e7e7e7;
}

.computer_item{
   height: 198px;
   width: 180px;
   box-shadow:0px 2px 0px #888888;
}

table, th, td {
   border-collapse: collapse;
   height: 23px;
}

.computer_item h5{
   font-family    : "Myriad pro", Sans-serif, "Liberation Sans";
   font-weight    : bold;
   text-decoration: none;
   color          : #333;
   margin-top     : -5px;
}

.computer_item table{
   font-size  : 12px;
   margin-left: 18px;
   margin-top : 10px;
   width      :83%;
}

.computer_item table td{
   padding-right: 5px;
}


/*SVG COMPUTADOR--------------------------------------------------------------*/
.computer_svg svg{
   -webkit-filter:drop-shadow(  0px  2px 0px #fff ); 
   filter        :drop-shadow(  0px  2px 0px #333 );
}

.pad{
   fill:#555;
}

.screen{
   fill        : #fff;
   stroke      : #555;
   stroke-width: 8px;
   position    : relative;

}
.screen_on{
   fill        : #fff;
   stroke      : #aaaaff;
   stroke-width: 2px
}
.screen_off{
   fill        : #333;
   stroke      : #222233;
   stroke-width: 2px
}
.screen_linux{
   background-image: url(../img/screen_on_linux.svg);
   margin-top: 30px;
   margin-left: -105px;
}
.screen_win{
   background-image: url(../img/screen_on_win.svg);
   margin-top: 30px;
   margin-left: -105px;
}


/*IMPUT SWITCH----------------------------------------------------------------*/
.switch {
  position: relative;
  display : inline-block;
  width   : 50px;
  height  : 10px;
}

.switch input {
   display: none;
}

.slider {
  position: absolute;
  cursor  : pointer;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
  background-color: #549933;
  box-shadow      : inset 0px 2px 0px #888;
  transition        : .4s;
  -webkit-transition: .4s;
}

.slider:before {
  position: absolute;
  content : "";
  height  : 15px;
  width   : 15px;
  left    : 0px;
  bottom  : -3px;
  border  : 2px solid #777;
  background-color: #eee;
  box-shadow      : 0px 2px 0px #888;
  transition        : .4s;
  -webkit-transition: .4s;
}

input:checked + .slider {
   background-color: #ff5433;
}

input:checked + .slider:before {
   transform        : translateX(26px);
   -ms-transform    : translateX(26px);
   -webkit-transform: translateX(26px);
   height   : 20px;
   width    : 20px;
   bottom   : -5px;
   content  : ' \2620';
   color    : #222;
   font-size: 20px;
}

/* Rounded sliders */
.slider.round {
   border-radius: 5px;
}

.slider.round:before {
   border-radius: 5px;
}
