/*HEADER*/
header{
   width      : 100%;
   height     : 60px;
   position   : relative;
   padding    : 0;
   display    : block;
}

.form_menu{
   width  : 100%;
   height : 65px;
   display: block; 
   margin : 0;
}

.form_menu ul{
   list-style   : none;
   display      : inline-block;
   margin-top   : 0;
   margin-bottom: 0;
   margin-left  : -10%;
   height       : 0;
}

.form_menu ul li{
   display    : inline-block;
   margin-left: 60px;
   padding    : 23px 0;
   top        : -32px;
}

.form_menu ul li a {
   color: white;
   padding: 20px 30px 20px 30px;
} 

.right_logout {
   margin-top  : -18px;
   padding-right: 3%;
} 

.right_logout a{
   color: white;
   padding: 20px 30px 20px 30px;
} 

.right_logout a:hover, .form_menu ul li a:hover{
   text-shadow:  0px 5px 30px #000, 0px 5px 50px #000, 0px 0px 3px #569754;
}


.form_menu a:link, .right_logout a:link {
   text-decoration:none; 
}

.nav{
    position: fixed;
    top     : 0px;
    margin  : 0; 
    width   : 100%;
    height  : 65px;
    z-index : 9000;
    display : block; 
    background-color: #59bd6a;;
    border-radius   : 0px 0px 3px 3px !important;
    border-bottom   : 3px solid #999;
}


